@import '../../../../variables.scss';

.pagination-div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        list-style-type: none;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            font-size: 14px;
            color: $colorTextGrey;
            border: 1px solid $colorTextGrey;
            margin-right: 10px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                background-color: $colorWhite;
                border: 1px solid $colorBlack;
                color: $colorBlack;
            }
        }
    }
    .selected{
        a{
            background-color: $colorBlack;
            border: 1px solid $colorBlack;
            color: $colorWhite;
            transition: .3s;
            &:hover{
                background-color: $colorBlack;
                color: $colorWhite;
            }
        }
    }
}