@import '../../../variables.scss';

.products{
    width: 100%;
    padding: 70px 0;
    background-color: $bgColorGrey;
    color: $colorTextDarkGrey;

    .title{
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    h4{
        font-size: 20px;
    }
    .products-btns{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .filters-btns{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn-filter{
                margin-right: 15px;
            }
        }
        // .btn-sort{}
    }
    .products-div{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        // .product{}
    }
}
