@import '../../../variables.scss';

.products{
    width: 100%;
    padding: 70px 0;
    background-color: $bgColorGrey;
    color: $colorTextDarkGrey;

    .title{
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    h4{
        font-size: 20px;
    }
    .products-btns{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // .filters-div{}
        // .sort-div{}
    }
    .products-div{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        // .product{}
    }
}

@media (max-width: 992px) {
    .products{
        .products-btns{
            flex-direction: column;
            margin-top: 30px;
        }
        .products-div{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: 768px) {
    .products{
        .title{
            font-size: 30px;
        }
    }
}
@media (max-width: 576px) {
    .products{
        .products-div{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 400px) {
    .products{
        .products-div{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
