@import '../../../../variables.scss';

.viewed-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
    transition: 0.5s;
    &:hover{
        box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    }
    img{
        width: 100%;
        height: auto;
        margin-bottom: auto;
        transition: .3s;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    h3{
        font-size: 15px;
        text-align: center;
        padding-top: 30px;
        &:hover{
            cursor: pointer;
        }
    }
    h4{
        font-size: 14px;
        color: $colorTextGrey;       
    }
    p{
        font-size: 16px;
        margin-top: 10px;
        font-weight: 600;
    }
    .btn-buy{
        width: 100px;
        margin-top: 20px;
        position: relative;
    }
    .buy-count{
        &:hover{
            .count{
                background-color: $colorBlack;
                color: $colorWhite
            }
        }
    }
    .count{
        width: 18px;
        height: 18px;
        background-color: $colorWhite;
        border-radius: 50%;
        color: $colorBlack;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 15px;
        font-weight: 600;
    }
}
