@import '../../../variables.scss';

.cart{
    padding: 150px 0 70px 0;
    background-color: rgb(255, 255, 191);
    // background-color: $bgColorGrey;
    color: $colorTextDarkGrey;

    .cart-title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2{
            font-size: 20px;
        }

        .btn-delete-all{
            width: fit-content;
            height: 30px;
            padding: 0;
        }
    }

    .cart-div{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cart-info{
            display: flex;
    
            img{
                width: 100px;
                height: auto;
            }
        }
        .cart-quantity{
            display: flex;

            button{
                width: 30px;
                height: 30px;
                padding: 0;
            }
        }
        .cart-sum{
    
        }
        .btn-delete-cart-item{
            width: 30px;
            height: 30px;
            padding: 0;
        }
    }

    .cart-total{
        
    }
}


