@import '../../variables.scss';

.crumbs-div{
    width: 100%;
    padding: 10px 40px;
    background-color: $colorWhite;
    display: flex;

    .crumb{
        margin-right: 20px;
        position: relative;
        a{
            color: $colorTextGrey;
            font-size: 13px;
            transition: .3s;
            &:hover{
                color: $colorTextDarkGrey;
            }
        }
        &::after{
            width: 16px;
            height: 16px;
            background-image: url(../../assets/img/arrow-right.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            top: 6px;
            right: -17px;
        }
        &:last-child::after{
            display: none;
        }
        .crumb-home{
            margin-left: 17px;
            &::before{
                width: 17px;
                height: 17px;
                background-image: url(../../assets/img/home-grey.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                top: 3px;
                left: 0;
                transition: .3s;
            }
            &:hover{
                &::before{
                    background-image: url(../../assets/img/home-dark-grey.svg);
                }
            }
        }
    }
}