@import './variables.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: $colorTextDarkGrey;
  background-color: $bgColorGrey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}
a{
  text-decoration: none;
  color: $colorTextDarkGrey;
  transition: .3s;
}
h1, h2, h3, h4{
    font-weight: 500;
}
button{
  width: fit-content;
  height: 50px;
  padding: 0 50px;
  color: $colorBlack;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s; 
}
.btn-buy{ 
    width: 130px;
    height: 40px;
    padding: 0;
    background-color: $colorBlack;
    border: 2px solid $colorBlack;
    color: $colorWhite;
    &:hover{
        background-color: $colorWhite;
        color: $colorBlack;
    }
}
.btn-filter{
    height: 44px;
    padding: 0 30px;
    background-color: $colorWhite;
    border: 1px solid $colorBlack;
    color: $colorBlack;
    &:hover{
        background-color: $colorBlack;
        color: $colorWhite;
    }
}
.btn-shop-all{
    height: 44px;
    padding: 0 30px;
    background-color: $colorBlack;
    border: 2px solid $colorBlack;
    color: $colorWhite;
    &:hover{
    background-color: $colorWhite;
    color: $colorBlack;
    }
}
.btn-shop-now-blue{
    height: 60px;
    padding: 0 30px;
    margin-top: 10px;
    font-size: 23px;
    background-color: #99d5e6;
    border: 2px solid #99d5e6;
    border-radius: 20px;
    color: $colorWhite;
    &:hover{
        background-color: transparent;
        color: #99d5e6;
    }
}
.btn-shop-now-grey{
    height: 50px;
    padding: 0 30px;
    margin-top: 10px;
    font-size: 20px;
    background-color: transparent;
    color: $colorTextGrey;
    border: 2px solid $colorTextGrey;
    border-radius: 20px;
    &:hover{
        background-color: $colorTextGrey;
        color: $colorWhite;
    }
}
.to-shop{
    height: 50px;
    padding: 0 30px;
    background-color: $colorBlack;
    border: 2px solid $colorBlack;
    color: $colorWhite;
    font-size: 20px;
    &:hover{
        background-color: $colorWhite;
        color: $colorBlack;
    }
}
.btn-back{
    height: 50px;
    padding: 0 30px;
    background-color: $colorWhite;
    border: 2px solid $colorBlack;
    color: $colorBlack;
    font-size: 20px;
    &:hover{
        background-color: $colorBlack;
        color: $colorWhite;
    }
}
.btn-order{
    height: 50px;
    padding: 0 30px;
    background-color: $colorBlack;
    border: 2px solid $colorBlack;
    color: $colorWhite;
    font-size: 20px;
    &:hover{
        background-color: $colorWhite;
        color: $colorBlack;
    }
}
.btn-log-in, .btn-sign-up, .btn-reset-password, .btn-contact{
    height: 50px;
    padding: 0 30px;
    background-color: $colorBlack;
    border: 2px solid $colorBlack;
    color: $colorWhite;
    font-size: 20px;
    &:hover{
        background-color: $colorWhite;
        color: $colorBlack;
    }
}

