$colorWhite: #FFFFFF;
$bgColorGrey: #F5F5F7;
$colorTextGrey: #a6a6a6;
$colorTextDarkGrey: #3e3b45;
$colorBlack: #171717;

@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
@media (max-width: 350px) {}